@for (game of games; track $index) {
  <input
    type="radio"
    name="position"
    class="hidden-radio"
    [checked]="$index + 2 === position"
  />
}

<main
  id="carousel"
  [style.--items]="games.length + 4"
  [style.--position]="position"
>
  <!-- Clones de los dos últimos elementos al principio -->
  @if (games.length > 1) {
    <div class="item" [style.--offset]="0">
      <app-game-card
        [title]="games[games.length - 2]?.title"
        [imgPath]="getImage(games[games.length - 2])"
      ></app-game-card>
    </div>
    <div class="item" [style.--offset]="1">
      <app-game-card
        [title]="games[games.length - 1]?.title"
        [imgPath]="getImage(games[games.length - 1])"
      ></app-game-card>
    </div>
  }

  @for (game of games; track $index) {
    <div
      class="item"
      [style.--offset]="$index + 2"
      (click)="cardClicked.emit(game.id!)"
    >
      <app-game-card
        [title]="game.title"
        [imgPath]="getImage(game)"
      ></app-game-card>
    </div>
  }

  @if (games.length > 1) {
    <div class="item" [style.--offset]="games.length + 2">
      <app-game-card
        [title]="games[0]?.title"
        [imgPath]="getImage(games[0])"
      ></app-game-card>
    </div>
    <div class="item" [style.--offset]="games.length + 3">
      <app-game-card
        [title]="games[1]?.title"
        [imgPath]="getImage(games[1])"
      ></app-game-card>
    </div>
  }

  <button class="nav-button left" (click)="goPrev()">&#10094;</button>
  <button class="nav-button right" (click)="goNext()">&#10095;</button>
</main>
