.footer-custom {
  background-color: #212121;
  color: white;
  padding: 1rem 0;
}

.link-footer {
  font-size: 1.5rem;
  color: white;
  transition: color 0.3s ease;
}

.link-footer.facebook:hover { color: #3b5998; }     /* Facebook */
.link-footer.twitter:hover { color: #ffffff; }      /* Twitter/X */
.link-footer.instagram:hover { color: #E1306C; }    /* Instagram */
.link-footer.discord:hover { color: #5865F2; }      /* Discord */
