<footer class="footer-custom mt-auto">
  <div class="container-fluid">
    <div class="d-flex flex-column flex-md-row justify-content-between align-items-center">
      <p class="mb-2 mb-md-0">Contact us</p>
      <div class="d-flex gap-3">
        <a href="#" class="link-footer facebook"><i class="fa-brands fa-facebook-f icon-responsive"></i></a>
        <a href="#" class="link-footer twitter"><i class="fa-brands fa-x-twitter icon-responsive"></i></a>
        <a href="#" class="link-footer instagram"><i class="fa-brands fa-instagram icon-responsive"></i></a>
        <a href="#" class="link-footer discord"><i class="fa-brands fa-discord icon-responsive"></i></a>
      </div>
    </div>
  </div>
</footer>
