<!-- header.component.html -->
<nav class="navbar navbar-expand-lg bg-dark navbar-dark navbar-custom fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand"  href="index.html">
      <img src="/public/images/logo.png" alt="Logo" class="logo-img">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link"  routerLink="achievement-card">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="library.html">Library</a>
        </li>
      </ul>
    </div>
    <div class="d-flex align-items-center">
      @if (isRegistered()) {
        <button class="btn-color-personal"  (click)="logOut()">
        <img src="/public/images/placeholder_profile.jpg" alt="User " class="auth-img">
        </button>
      } @else {
        <button class="btn-color-personal" data-bs-toggle="modal" data-bs-target="#exampleModal">
          <img src="/public/images/placeholder_profile.jpg" alt="User " class="auth-img">
        </button>
        <app-modal></app-modal>
      }

    </div>
  </div>
</nav>
