<div class="carousel" id="{{ carouselId }}">
  <!-- los botones de radio -->
  <div class="radio-buttons">
    @for (item of items; track $index) {
      <input
      type="radio"
      name="position-{{ carouselId }}"
      [checked]="$index === currentIndex()"
      (click)="changeSlide($index)"
    />
    } 
  </div>
</div>

<!-- las diapositivas -->
<div class="carousel-container">
  @for (item of items; track $index) {
    <div class="item" (click)="onItemClick($index)">
      <div class="game-card">
        <h3>{{ item.title }}</h3>
        <img [src]="item.media.img![1]">
      </div>
    </div>
  }
</div>

<button id="prevSlide" (click)="prevSlide()">Prev</button>
<button id="nextSlide" (click)="nextSlide()">Next</button>