<script src="../../js/xlu-include-file.js"></script>
<script src="../../js/carouselauto.js"></script>
<div id="carousel">
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <div class="carousel-container">
    <div class="item"><div id="game-card6" xlu-include-file="templates/game-card.html"></div></div>
    <div class="item"><div id="game-card7" xlu-include-file="templates/game-card.html"></div></div>
    <div class="item"><div id="game-card8" xlu-include-file="templates/game-card.html"></div></div>
    <div class="item"><div id="game-card9" xlu-include-file="templates/game-card.html"></div></div>
    <div class="item"><div id="game-card10" xlu-include-file="templates/game-card.html"></div></div>
  </div>
</div>
<script>
  xLuIncludeFile().then(() => {
    let script = document.createElement("script");
    script.src = "../../js/carouselauto.js";
    document.body.appendChild(script);
  });
</script>

<script>xLuIncludeFile();</script>