<head>
  <link rel="stylesheet" href="src/css/carousel.css">
</head>

<script src="../../js/common.js"></script>
<script src="../../js/carouselauto.js"></script>
<div id="carousel">
  <input type="radio" name="position" checked />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <input type="radio" name="position" />
  <div class="carousel-container">
    <div class="item"><div id="game-card1" get-template="game-card.html"></div></div>
    <div class="item"><div id="game-card2" get-template="game-card.html"></div></div>
    <div class="item"><div id="game-card3" get-template="game-card.html"></div></div>
    <div class="item"><div id="game-card4" get-template="game-card.html"></div></div>
    <div class="item"><div id="game-card5" get-template="game-card.html"></div></div>
  </div>
</div>

<script>xLuIncludeFile();</script>