<!-- Jack o all games/src/html/templates/cover-card.html -->
<!-- 
<div class="cover-card" data-game-name="{{ game.name.lower() }}">
    <img src="{{ game.cover_image }}" alt="{{ game.name }}"onerror="this.src='{{ url_for('static', filename='media/placeholder_coverCard.png') }}'">
    <div class="title">{{ game.name }}</div>
</div>
-->

<div class="cover-card">
    <img src="../media/placeholder_coverCard.png" alt="Game Cover">
    <div class="title" style="color: purple;">lorem ipsum</div>
</div>
    