<div class="carousel" [attr.id]="carouselId">

  <div class="radio-buttons">
    <ng-container *ngFor="let item of items; let i = index">
      <input type="radio"
             name="position-{{carouselId}}"
             [checked]="i === currentIndex"
             (click)="changeSlide(i)" />
    </ng-container>
  </div>

  <div class="carousel-container">
    <div class="item"
         #itemElement
         *ngFor="let item of items; let i = index"
         (click)="onItemClick(i)">
      <div class="game-card">
        <h3>{{ item.title }}</h3>
      </div>
    </div>
  </div>

  <button id="prevSlide" (click)="prevSlide()">Prev</button>
  <button id="nextSlide" (click)="nextSlide()">Next</button>
</div>
