<!-- modal.component.html -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header flex-column align-items-center">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        <img src="/public/images/placeholder_profile.jpg" alt="User" class="authentication-img">

        <nav aria-label="..." class="pagination-container">
          <ul class="pagination pagination-lg">
            <li [class.page-item]="true" [class.active]="registerSelection()" aria-current="page">
              <span class="page-link" (click)="changeRegisterSelection(0)">Login</span>
            </li>
            <li [class.page-item]="true" [class.active]="!registerSelection()" >
              <a class="page-link btn" (click)="changeRegisterSelection(1)">Register</a>
            </li>
          </ul>
        </nav>
      </div>

      <div class="modal-body">
        <!-- Formulario -->
        @if(registerSelection()){
            <app-login-form/>
        } @else if (!registerSelection())
        {
            <register-form/>
        }
      </div>

    </div>
  </div>
</div>
